.imgEvent {
  max-width: 100%;
  height: 11vw;
  width: 20vw;
  border-radius: 5px;
}

.containerEvent {
  border: 1px solid #ffffff;
  height: 20vw;
  width: 20vw;
  margin-top: 10%;
  overflow: hidden;
  border-radius: 20px;
}
.containerEvent:hover {
  transition: 0.7s;

  box-shadow: 0 40px 44px -10px rgba(0, 0, 0, 0.1),
    0 20px 52px -20px rgba(0, 0, 0, 0.3);
}
.containerData {
  display: flex;
  gap: 3%;
  align-items: center;
  margin-left: 5%;
}

.day {
  font-size: 1.6vw;
  color: #98d5ff;
}
.month {
  font-size: 1vw;
}
.date {
  font-size: 1vw;
  color: #98d5ff;
}
.line {
  border-top: 0px solid #b6aaaa;
  margin-top: 2%;
}

.containerEndereco {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.titleDetails {
  font-size: 1vw;
  margin-left: 1vw;
  font-weight: bold;
  padding-top: 1vw;
}
.endereco {
  display: flex;
  gap: 5px;
  margin-left: 1vw;
}
.endereco p {
  color: #c3c2bf;
  font-size: 0.9vw;
}
